.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 254, 254) !important;
    font-weight: 400;
}
.parallax-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Images/pro1.jpg');
    min-height: 500px; 
    position: relative;
}


.parallax-container h1 {
    color: #dc3333;
    text-align: center;
    padding: 100px 0;
    font-size: 36px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    background: rgba(4, 83, 105, 0.588);
    border-radius: 50px;
  }
  /* Hide checkbox */
  .switch input{
    opacity: 0; 
    width: 0;
    height: 0;
  }
  
  .slider{
    position: absolute;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    top: 4px;
    left: 5px;
    transition: 0.5s;
  }
  /* Add sliding effect */
  input:checked + .slider{
    transform: translateX(34px);
  }
  
  
  
  
  
  
  
  


